@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
   position: relative;
   height: 100vh;
}
.header__slider {
   &-item {
      height: 100vh;
      position: relative;
      background: url(../images/header-bg.jpg) no-repeat center / cover;
   }
}
.slider-item__info {
   position: absolute;
   right: 80px;
   bottom: 116px;
   text-align: right;
}
.slider-item__info-suptitle {
   margin-bottom: 5px;
}
.slider-item__info-suptext {
   margin-bottom: 8px;
}
.slider-item__info-title {
   margin-bottom: 48px;
   font-size: 80px;
   font-weight: 800;
   line-height: 86px;
}
.slider-item__info-text {
   margin-bottom: 20px;
   font-size: 40px;
   font-weight: 800;
   line-height: 86px;
}
.slider-arrows {
   position: absolute;
   top: 40px;
   right: 80px;
   cursor: pointer;
   z-index: 4;
}
.slider-arrows__left {
   right: 125px;
}
.slider-dotshead {
   position: absolute;
   right: 50px;
   bottom: 36px;
   max-width: 920px;
   width: 100%;
   color: #ffffff;
   .slick-current {
      .dots-box {
         border-top-color: $green;
      }
   }
}
.dots-box {
   width: 200px;
   height: 28px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 4px solid #ffffff;
   padding-top: 6px;
   &__number {
      font-weight: 800;
      font-size: 34px;
      line-height: 34px;
   }
   &__name {
      font-weight: 300;
      line-height: 19px;
      text-transform: capitalize; //первая бука заглавная
   }
}
.header__aside {
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 5;
   text-align: center;
   border-right: 1px solid rgba(#fff, 0.25);
}
.header__title {
   margin: 0;
   max-width: 467px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 4;
   font-size: 200px;
   font-weight: 800;
   line-height: 156px;
   opacity: 0.07;
}
.menu {
   padding-top: 40px;
}
.menu__list-item-link {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 20px;
   span {
      padding-top: 6px;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 3px;
      text-transform: capitalize;
   }
}
.menu-btn {
   display: none;
   width: 50px;
   height: 50px;
   justify-content: center;
   align-items: center;
   // border-radius: 50%;
   border: 1px solid #ffffff3a;
   position: absolute;
   right: 25px;
   top: 75px;
   z-index: 20;
   // background-color: #ffffff1a;
   &__inner {
      width: 40px;
   }
   &__line {
      height: 3px;
      background-color: $green;
      + .menu-btn__line {
         margin-top: 5px;
      }
   }
}
.header__date {
   font-size: 72px;
   font-weight: 800;
   line-height: 64px;
   span {
      display: block;
      margin: 15px 0 30px;
      font-size: 16px;
      line-height: 19px;
      font-weight: 300;
      letter-spacing: 1.4px;
   }
}
.header__search {
   padding: 15px 0 35px;
}
.header__location {
   display: inline-block;
   padding-left: 19px;
   font-weight: 300;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 1.05px;
   text-transform: capitalize;
   position: relative;
   &::before {
      content: "";
      position: absolute;
      width: 11px;
      height: 13px;
      background: url(../images/marker.svg);
      left: 0;
      top: 0;
   }
}
.header__map {
   position: absolute;
   right: 0;
   top: 0;
   z-index: 3;
}
.header__arrows {
   position: absolute;
   bottom: 30px;
   left: 210px;
   z-index: 3;
}
.line-animation {
   stroke-dashoffset: 600;
   stroke-dasharray: 600;
   animation: animdash 5s infinite 6s;
}
@keyframes animdash {
   to {
      stroke-dashoffset: 0;
   }
}
.surf {
   background: url(../images/surf-bg.svg) no-repeat right 200px / auto;
}
.surf__subtitle {
   padding-right: 80px;
   margin-top: -86px;
   text-align: right;
}
.surf-slider {
   padding-top: 110px;
   .slider-arrows {
      top: 50px;
      opacity: 0.25;
   }
   .slick-slide:nth-child(4n + 1) {
      .surf-box {
         margin-top: 32px;
      }
   }
   .slick-slide:nth-child(4n + 3) {
      .surf-box {
         margin-top: 89px;
      }
   }
   .slick-current {
      .surf-box__inner-btn {
         display: block;
      }
      .surf-box__inner {
         background: rgba(28, 33, 33, 0.3);
      }
   }
}
.surf-box {
   &__wrapper {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
   &__inner {
      min-height: 750px;
      position: relative;
      top: 0;
      bottom: 0;
      background: rgba(28, 33, 33, 0.85);
      transition: all 0.5s;
      &:hover {
         background: #1c21214d;
         .surf-box__inner-btn {
            display: block;
         }
      }
   }
}
.surf-box__inner-title {
   padding: 72px 0 0 40px;
   width: 140px;

   font-weight: 800;
   font-size: 40px;
   line-height: 36px;
}
.surf-box__inner-location {
   position: absolute;
   width: 0;
   height: 0;
   left: 40px;
   bottom: 80px;
   white-space: nowrap;

   font-size: 18px;
   line-height: 22px;
   letter-spacing: 8px;

   transform: rotate(-90deg);
   span {
      font-weight: 100;
   }
}
.surf-box__inner-btn {
   display: none;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   text-align: center;
}
.slider-map {
   max-width: 1200px;
   min-height: 635px;
   margin: 0 auto;
   background: url(../images/world-map-dots.png) no-repeat center / cover;
   .slick-list {
      min-height: 635px;
      overflow: visible;
   }
   .slick-current {
      .slider-dots__content {
         display: block;
         width: 285px;
         padding: 28px 31px 0 32px;
      }
   }
}
.slider-dots__content-row {
   display: flex;
   justify-content: space-between;
   padding-bottom: 30px;
}
.slider-dots__content-item {
   text-align: center;
   img {
      margin-bottom: 7px;
   }
}
.slider-dots__content-number {
   font-size: 16px;
   font-weight: 800;
   line-height: 23px;
}
.slider-dots__content-name {
   font-weight: 300;
   font-size: 10px;
   line-height: 12px;
}
.slider-dots__content-title {
   font-size: 18px;
   font-weight: 800;
   line-height: 26px;
   padding-bottom: 8px;
   margin-bottom: 8px;
   position: relative;
   &::before {
      content: "";
      position: absolute;
      background: $green;
      width: 80px;
      height: 1px;
      bottom: 0;
      left: 0;
   }
}
.slider-dots__content-subtitle {
   font-size: 16px;
   line-height: 19px;
   text-transform: capitalize;
}
.slider-dots__content-link {
   padding-top: 4px;
}
.slider-dots__circle {
   width: 23px;
   height: 23px;
   background: $green;
   border-radius: 50%;
   box-shadow: 0 0 35px rgba(74, 246, 205, 0.83);
}
.slider-dots__content {
   display: none;
   background: #0000003a;
   border-radius: 6px;
   position: absolute;
   bottom: 35px;
   transform: translateX(-50%);
   z-index: 1;
   &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: 20px solid $green;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      bottom: -21px;
      left: calc(50% - 1px);
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
   }
}
.slider-dots {
   position: relative;
}
.slider-dots--1 {
   top: 340px;
   left: 0;
   .slider-dots__content {
      transform: translateX(0);
      &::before {
         left: -0.5px;
      }
   }
}
.slider-dots--2 {
   top: 290px;
   left: 0;
   .slider-dots__circle {
      position: relative;
      &::before {
         content: "";
         position: absolute;
         background: url(../images/mini-marker.svg);
         width: 14px;
         height: 17px;
         right: -15px;
         top: -25px;
      }
   }
}
.slider-dots--3 {
   top: 320px;
   left: 25px;
}
.slider-dots--4 {
   top: 500px;
   left: -45px;
}
.slider-dots--5 {
   top: 220px;
   left: -65px;
}
.slider-dots--6 {
   top: 550px;
   left: -110px;
}
.slider-dots--7 {
   top: 390px;
   left: -90px;
}
.slider-dots--8 {
   top: 500px;
   left: 35px;
   .slider-dots__content {
      transform: translateX(-262px);
      &::before {
         left: auto;
         right: 0.5px;
      }
   }
}
.travel,
.sleep,
.shop {
   .slider-arrows {
      top: 225px;
      opacity: 0.5;
   }
}
.travel {
   background: url(../images/travel-bg.png) no-repeat bottom right;
   margin-bottom: 60px;
}
.sleep {
   background: url(../images/sleep-bg.png) no-repeat bottom right;
   margin-bottom: 260px;
}
.shop {
   background: url(../images/shop-bg.png) no-repeat bottom right;
   margin-bottom: 300px;
}
.travel-slider,
.sleep-slider {
   &__head {
      min-height: 780px;
      background-position: top left;
      background-repeat: no-repeat;
   }
   &__descr {
      padding: 160px 0 0 132px;
      margin-top: -230px;
      min-height: 320px;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
      .descr__head {
         position: relative;
         padding-right: 75px;
         img {
            position: absolute;
            right: 0;
            top: 0;
         }
         .sleep__star-list {
            position: absolute;
            right: 0;
            top: 0;
            li {
               display: inline-block;
               margin-left: -25px;
            }
            img {
               position: static;
            }
         }
      }
   }
   &__subtitle {
      text-align: right;
      padding: 132px 80px 0 0;
   }
   &__btn {
      text-align: center;
   }
}
.sleep-slider {
   .descr--star {
      padding-right: 215px;
   }
}

.travel-slider__info,
.sleep-slider__info {
   display: flex;
   justify-content: space-around;
}
.travel-slider__info-item,
.sleep-slider__info-item {
   min-height: 200px;
   margin-bottom: 66px;
   position: relative;
}
.travel-slider__info-subtitle,
.sleep-slider__info-subtitle {
   position: absolute;
   width: 200px;
   height: 0;
   top: 97px;
   left: -97px;
   text-align: right;

   font-size: 18px;
   line-height: 22px;
   letter-spacing: 8px;

   opacity: 0.5;
   transform: rotate(-90deg);
   white-space: nowrap;
}
.travel-slider__info-title,
.sleep-slider__info-title {
   padding-left: 40px;
   position: relative;

   font-weight: 800;
   font-size: 40px;
   line-height: 36px;
   .travel-pricing__span,
   .sleep-pricing__span {
      position: absolute;
      bottom: -27px;
      right: 0;

      font-size: 14px;
      font-weight: 400;
      opacity: 0.75;
      letter-spacing: 5.25px;
   }
}

.shop__slider {
   padding-left: 132px;
}
.shop__slider-inner {
   display: flex;
   align-items: center;
}
.shop__slider-info {
   // padding-left: 132px;
   // max-width: 480px;
   // width: 100%;
   flex: 0 1 33%;
   margin-right: 40px;
}
.descr__head-shop {
   max-width: 340px;
   margin-bottom: 40px;
}
.shop__star-list {
   margin-left: -9px;
   li {
      display: inline-block;
      & + li {
         margin-left: -20px;
      }
   }
}
.shop__slider-price {
   font-weight: 800;
   font-size: 32px;
   margin-bottom: 64px;
   sup {
      font-size: 18px;
      padding-left: 2px;
   }
}
.shop__slider-content {
   display: flex;
}
.shop__extras {
   align-self: flex-end;
   padding-left: 150px;
   &-inner {
      display: flex;
      align-items: flex-end;
      text-align: center;
   }
   &-box {
      margin-right: 87px;
      img {
         margin-bottom: 35px;
      }
   }
   // &-img {
   //    min-height: 105px;
   //    margin-bottom: 35px;
   //    display: flex;
   //    justify-content: center;
   //    align-items: center;
   // }
   &-name {
      margin-bottom: 16px;
      font-size: 18px;
      letter-spacing: 8px;
      opacity: 0.5;
   }
   &-price {
      font-weight: 800;
      font-size: 18px;
   }
}
.shop__extra-title {
   margin-bottom: 25px;

   font-size: 28px;
   line-height: 40px;
   font-weight: 800;
}

.surfboard {
   position: relative;
}
.surfboard-box {
   position: absolute;
}
.surfboard__position--1 {
   top: 215px;
   right: 40px;
}
.surfboard__position--2 {
   top: 280px;
   left: -6px;
}
.surfboard__position--3 {
   bottom: 70px;
   left: 52px;
   .surfboard-box__content {
      padding-left: 0;
      padding-right: 104px;
      top: -15px;
      left: -400px;
      &::before {
         content: "";
         position: absolute;
         width: 80px;
         height: 1px;
         right: 0;
         left: auto;
         top: 50%;
         background-color: #fff;
         opacity: 0.5;
      }
   }
}
.surfboard-box__circle {
   position: relative;
   width: 20px;
   height: 20px;
   position: relative;
   background-color: #fff;
   border-radius: 50%;
   cursor: pointer;
   &.active {
      .circle-row {
         transform: rotate(0deg);
      }
   }
}
.circle-row {
   position: absolute;
   width: 12px;
   height: 2px;
   top: 45%;
   left: 23%;
   background-color: $green;
   transform: translate(-50% -50%) rotate(0deg);
   & + .circle-row {
      transform: rotate(90deg);
   }
}
.surfboard-box__circle.active + .surfboard-box__content {
   display: block;
}
.surfboard-box__content {
   display: none;
   position: absolute;
   top: -15px;
   left: 40px;
   width: 360px;
   padding-left: 104px;
   font-size: 24px;
   font-weight: 800;
   user-select: none;
   &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 1px;
      left: 0;
      top: 50%;
      background-color: #fff;
      opacity: 0.5;
   }
}
.footer {
   text-align: center;
   padding-bottom: 34px;
   .btn {
      span {
         padding: 17px 17px 15px;
         &::after {
            display: none;
         }
      }
   }
}
.footer__copy {
   padding-top: 27px;
   font-weight: 300;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 1.05px;
   opacity: 0.5;
}
@import "media";
// @import "../../node_modules/slick-carousel/slick/slick";
// @import "../../node_modules/magnific-popup/dist/magnific-popup";
